/* globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .sidebar {
    @apply transition-all duration-1000 ease-in-out; /* Slow down the transition */
  }

  .sidebar::-webkit-scrollbar {
    width: 0;
    @apply transition-all duration-1000 ease-in-out; /* Slow down the transition */
  }

  .sidebar:hover::-webkit-scrollbar {
    width: 8px;
  }

  .sidebar::-webkit-scrollbar-thumb {
    @apply rounded bg-gray-500;
  }

  .sidebar::-webkit-scrollbar-track {
    @apply bg-gray-200;
  }
}

pre {
  padding: 1ch;
  overflow: auto; /* Allow both vertical and horizontal scrolling */
  max-height: 400px;
  max-width: 100%;
  border-radius: 5px;

  /* Scrollbar styles for pre elements */
  transition: all 1s ease-in-out; /* Slow down the transition */
}

pre::-webkit-scrollbar {
  width: 8px; /* Vertical scrollbar width */
  height: 8px; /* Horizontal scrollbar height */
}

pre::-webkit-scrollbar-thumb {
  background-color: #6b7280; /* Equivalent to bg-gray-500 */
  border-radius: 4px;
}

pre::-webkit-scrollbar-track {
  background-color: #e5e7eb; /* Equivalent to bg-gray-200 */
}